header {
    background-image: url("../image/1495292642.jpg");
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.1em;
    border-color: pink;
    font-family: sans-serif;
    height: 20em;
    width: 75%;
}

.citation {
    margin-top: 13em;
}

.Bloc_Nav {
    background-color: #ccc;
    text-align: center;
    margin-left: 12.5%;
    margin-right: auto;
    border: solid 0.1em;
    border-color: pink;
    font-family: sans-serif;
    display: inline-block;
    width: 75%;
}

.Boruto {
    background-image: url("../image/R (13).jpg");
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    height: 3em;
}
.DB {
    background-image: url("../image/R (12).jpg");
    margin-top: auto;
    margin-bottom: auto;
    height: 3em;
}
.OP {
    background-image: url("../image/wallpapersden.com_one-piece-team-art_2560x1080.jpg");
    margin-top: auto;
    margin-bottom: auto;
    height: 3em;
}
.MHA {
    background-image: url("../image/R (15).jpg");
    margin-top: auto;
    margin-bottom: auto;
    height: 3em;
}
.Bleach {
    background-image: url("../image/R (17).jpg");
    margin-top: auto;
    margin-bottom: auto;
    height: 3em;
}
.Culture {
    background-image: url("../image/R (10).jpg");
    margin-top: auto;
    margin-bottom: auto;
    height: 3em;
}

body {
    width: 100%;
    background-image: url("../image/117608l.jpg");
    background-size: 100%;
}
